/* Add CSS styling here */
/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
    margin:0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
:root {
    --bg0: #333;
    --bg1: #444;
    --bg2: #555;
    --fg0: #ccc;
    --fg1: #ddd;
    --fg2: #eee;
    --smGap: 0.3rem;
    --medGap: 0.5rem;
    --lgGap: 1rem;
}
body { 
    background-color: var(--bg0);
    color: var(--fg0);
    padding: var(--medGap);
    max-width: 40rem; /* target <= 80characters per line */
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(var(--bg0), var(--bg1));
}
body>header { 
    padding: var(--medGap);
    color: var(--fg1);
    background-color: var(--bg1);
}
h1 {
    font-size: 150%;
}
h2 {
    font-size: 120%;
}
h2, h3, p {
    margin-left: var(--medGap);
    margin-bottom: var(--medGap);
}
nav {
    padding-top: var(--smGap);
    margin: var(--smGap) 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}
nav>a {
    color: var(--fg2);
    text-decoration: none;
    color: var(--fg2);
    background-color: var(--bg2);
    padding: var(--smGap);
    transition: background-color 0.2s, box-shadow 0.2s, border-radius 0.2s;
    margin-left: var(--medGap);
}
nav>a:hover {
    background-color: var(--bg1);
    box-shadow: 0 0 var(--smGap) var(--fg1);
    border-radius: var(--smGap);
}
section {
    padding: var(--medGap);
}

section + section { margin-top: 0; padding-top: 0; }

section.flexRow {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex: 0 0 auto;
}

section.flexRowWrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: var(--medGap);
}
.imgWithCaption { margin-right: var(--smGap); }
.imgWithCaption>p {
    text-align: center;
}
footer { 
    background: var(--bg1);
    padding: var(--medGap);
}
footer>p,footer>h2 { text-align: center; }
button {
    border: 0; 
    outline: 0; 
    background-color: var(--bg2); 
    color: var(--fg2); 
    padding: var(--smGap); 
    font-size: 120%;
}
button:hover {
    border-radius: var(--medGap);
    box-shadow: 0 0 var(--medGap) var(--fg2);
    cursor: pointer;
}

@media (orientation: portrait) {
    section.flexRowWrap {
        justify-content: center;
    }
    /* section.flexRowWrap img { 
        width: calc(100vw - (4 * var(--medGap)));
        max-width: calc(40rem - (4 * var(--medGap)));
    } */
}